.app {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background: linear-gradient(to right, #65c1c7, #66a6ff, #65c1c7, #66a6ff, #65c1c7, #66a6ff, #65c1c7, #66a6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: pulse 2s infinite ease-in-out;
  font-family: 'Poppins', sans-serif;
}